/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 992px) and (max-width : 1200px) {
.header-bottom .create-user {
	font-size: 12px;
	padding: 0 20px;
}
.menu_new {
	font-size: 10px;
}
.menu_haschild > a::after {
	margin-left: 5px;
}
}

@media only screen and (max-width : 1750px) {
	.service {
		padding-top: 55px;
		min-height: 595px;
	}
	.support-image img {
		max-width: 620px;
	}
	.support__wrap {
		min-height: 630px;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.menu li {
		padding: 0 9px;
	}
	.form-search {
		width: 213px;
	}
	.logo {
		font-size: 18px;
		line-height: 24px;
	}
	.logo img {
		margin-right: 10px;
	}
	.btn_nav {
		margin-right: 15px;
	}
	.item-advantage {
		padding: 35px 15px;
	}
	.item-service__title {
		font-size: 25px;
		line-height: 33px;
	}
	.item-service {
		padding: 25px 15px;
		font-size: 16px;
		line-height: 25px;
	}
	.support__content {
		max-width: 575px;
	}
	.qr-code img {
		max-width: 100px;
		margin-right: 15px;
	}
	.qr-code {
		padding: 10px 0;
		padding-right: 20px;
	}
	.loans-item__descr {
		margin-right: 3px;
		padding-right: 4px;
	}
	.loans-item__img {
		margin-right: 4px;
	}
	.credit-block {
		padding-left: 20px;
		padding-right: 20px;
	}
	.sidebar-application__body {
		padding-left: 25px;
		padding-right: 25px;
	}
	.calculator-descr__block {
		padding-top: 52px;
		padding-left: 185px;
	}
	.calculator-descr__title {
		font-size: 11px;
	}
	.calculator-descr__block span  {
		font-size: 15px;
	}
	.calculator-descr {
		padding-left: 43px;
		padding-top: 60px;
		justify-content: flex-start;
	}
	.calculator-subtitle {
		font-size: 12px;
	}
	.calculator-descr__price {
		font-size: 16px;
	}
	.tabs-choice__item label {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-block {
		padding-left: 25px;
		padding-right: 25px;
	}
	.item-form {
		margin-right: 30px;
		flex: 0 0 32%;
	}
	.checkbox-wrap .btn_color {
		flex-basis: 40%;
	}
	.graph-title {
		font-size: 28px;
		line-height: 35px;
	}
	.graph-img img {
		max-width: 100%;
		height: auto;
	}
	.tabs {
		padding-left: 25px;
		padding-right: 25px;
	}
	.map-city {
		padding-left: 25px;
		padding-right: 25px;
	}
	.fix-block {
		display: none;
	}
	.help-block__item {
		padding-left: 200px;
		padding-right: 20px;
		padding-top: 20px;
	}
	.help-block {
		margin-top: 30px;
	}
	.dreams__img {
		width: 300px;
	}
	.dreams__item {
    padding-left: 20px;
    padding-top: 25px;
    padding-right: 10px;
}
.offer-bottom {
	padding-left: 20px;
}
.online-sidebar {
	max-width: 230px;
}
.consumers {
	padding-left: 15px;
	padding-right: 15px;
}
.consumers-text span {
	padding-left: 15px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header-top__wrap .btn-page,
	.header-top__wrap .btn-icon,
	.header-top__wrap .item-dropdown,
	.header-top__wrap .form-search {
		display: none;
	}
	.menu {
		margin: 0 -15px;
		white-space: nowrap;
		overflow: auto;
	}
	.best__top::-webkit-scrollbar,
	.credit-service ul::-webkit-scrollbar,
	.tabs-names::-webkit-scrollbar,
	.map-block-wrap::-webkit-scrollbar,
	.table-wrap::-webkit-scrollbar,
	.loans-service ul::-webkit-scrollbar,
	.footer-menu::-webkit-scrollbar,
	.menu::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	.best__top::-webkit-scrollbar:vertical,
	.credit-service ul::-webkit-scrollbar:vertical,
	.tabs-names::-webkit-scrollbar:vertical,
	.map-block-wrap::-webkit-scrollbar:vertical,
	.table-wrap::-webkit-scrollbar:vertical,
	.loans-service ul::-webkit-scrollbar:vertical,
	.footer-menu::-webkit-scrollbar:vertical,
	.menu::-webkit-scrollbar:vertical {
		width: 0;
	}
	.best__top::-webkit-scrollbar:horizontal,
	.credit-service ul::-webkit-scrollbar:horizontal,
	.tabs-names::-webkit-scrollbar:horizontal,
	.map-block-wrap::-webkit-scrollbar:horizontal,
	.table-wrap::-webkit-scrollbar:horizontal,
	.loans-service ul::-webkit-scrollbar:horizontal,
	.footer-menu::-webkit-scrollbar:horizontal,
	.menu::-webkit-scrollbar:horizontal {
		height: 0;
	}
	.best__top::-webkit-scrollbar-thumb,
	.credit-service ul::-webkit-scrollbar-thumb,
	.tabs-names::-webkit-scrollbar-thumb,
	.map-block-wrap::-webkit-scrollbar-thumb,
	.table-wrap::-webkit-scrollbar-thumb,
	.loans-service ul::-webkit-scrollbar-thumb,
	.footer-menu::-webkit-scrollbar-thumb,
	.menu::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}
	.best__top::-webkit-scrollbar-track,
	.credit-service ul::-webkit-scrollbar-track,
	.tabs-names::-webkit-scrollbar-track,
	.map-block-wrap::-webkit-scrollbar-track,
	.table-wrap::-webkit-scrollbar-track,
	.loans-service ul::-webkit-scrollbar-track,
	.footer-menu::-webkit-scrollbar-track,
	.menu::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}
	.menu li {
		padding: 0 15px;
	}
	.logo {
		font-size: 22px;
	}
	.logo img {
		margin-right: 20px;
	}
	.header-top__wrap .logo {
		margin: 0 auto;
		position: relative;
		left: -20px;
	}
	.header-top__wrap {
		display: block;
	}
	.wrapper {
		padding-top: 92px;
	}
	.image-score img {
		width: 200px;
	}
	.billbord {
		padding-top: 16px;
		padding-bottom: 30px;
	}
	.title-big {
		font-size: 32px;
		line-height: 38px;
	}
	.title-small {
		font-size: 14px;
		line-height: 21px;
	}
	.item-advantage {
		font-size: 12px;
		line-height: 16px;
		padding: 0;
	}
	.item-advantage__title {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 7px;
	}
	.item-advantage__icon {
		margin-bottom: 10px;
	}
	.row_advantages > div {
		margin-bottom: 20px;
	}
	.item-advantage::before {
		display: none;
	}
	.item-advantage:hover {
		color: #2B3B47;
	}
	.item-advantage:hover .item-advantage__icon img {
		filter: none;
	}
	.title-section {
		font-size: 32px;
		line-height: 38px;
	}
	.service .title-section {
		padding-bottom: 0;
	}
	.item-service {
		padding: 30px 20px;
	}
	.item-service__descr {
		margin-bottom: 18px;
	}
	.item-service__title {
		font-size: 32px;
		line-height: 38px;
		margin-bottom: 18px;
	}
	.service {
		padding: 32px 0;
		background-position: center;
	}
	.articles {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.item-article {
		display: block;
	}
	.item-article__image::before {
		opacity: 1;
	}
	.item-article__image {
		width: 100%;
		height: 135px;
		margin: 0;
		margin-bottom: 20px;
	}
	.item-article__arrow {
		opacity: 1;
	}
	.item-article p {
		color: #536D82;
	}
	.row_articles > div:nth-child(2) {
		padding-top: 40px;
	}
	.row_articles > div:nth-child(2) .link-page {
		display: none;
	}
	.support-image img {
		max-width: 310px;
	}
	.support__wrap {
		padding-top: 27px;
	}
	.support .descr-section {
		margin-bottom: 20px;
	}
	.support-image {
		right: -123px;
	}
	.support__content {
		padding-bottom: 130px;
	}
	.footer {
		margin-top: 0;
		padding-top: 50px;
		text-align: center;
	}
	.support-image__info {
		left: -160px;
		bottom: 16px;
		width: 370px;
		padding: 27px 23px;
	}
	.text-support {
		margin-bottom: 10px;
	}
	.list-support li {
		margin-bottom: 10px;
	}
	.support {
		background-position: left -333px center;
	}
	.footer-menu {
		padding: 23px 19px;
		margin: 0 -15px;
		margin-bottom: 30px;
		white-space: nowrap;
		border-radius: 0;
		overflow: auto;
	}
	.footer-menu li {
		margin-right: 30px;
	}
	.qr-code {
		padding: 0;
		text-align: center;
		display: block;
		background-color: transparent;
		border-radius: 0;
	}
	.qr-code img {
		max-width: 156px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.list-icons {
		margin-top: 20px;
		justify-content: center;
	}
	.row_footer > div:nth-child(3) .list-icons {
		margin-top: 10px;
		margin-bottom: 0;
	}
	.row_footer > div:nth-child(3) {
		padding-top: 15px;
	}
	.bottom-footer {
		flex-direction: column;
	}
	.bottom-footer > * {
		margin-top: 10px;
	}
	.footer {
		padding-bottom: 70px;
		background-color: #fff;
	}
	.wrapper_frontpage::after {
		bottom: 1800px;
		background-position: left 30% center;
	}
	.loans-img img {
		max-width: 60%;
		margin: 0 auto;
		position: relative;
		top: 0;
	}
	.loans_left {
		order: 2;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.loans_left .btn_color {
		width: 270px;
	}
	.breadcumbs {
		padding-top: 15px;
		justify-content: center;
	}
	.loans .title-big {
		font-size: 30px;
		line-height: 37px;
		text-align: center;
	}
	.hidden-mobile {
		display: none;
	}
	.loans-service {
		order: 2;
		margin-left: auto;
		position: relative;
		top: 95px;
		width: 100%;
		margin-right: -15px;
	}
	.credit-service {
		margin-right: -15px;
	}
	.credit-service ul,
	.loans-service ul {
		columns: initial;
		display: flex;
		white-space: nowrap;
		justify-content: flex-start;
		overflow: auto;
		margin: 0;
	}
	.credit-service ul li,
	.loans-service ul li {
		margin: 0;
		margin-right: 15px;
	}
	.loans-item {
		margin: 0;
	}
	.loans-item__descr {
		flex: 1;
		margin-right: 15px;
	}
	.loans-item {
		padding-right: 20px;
	}
	.sorting {
		display: none;
	}
	.mobile-visible .select-check {
		margin-bottom: 10px;
	}
	.credit-item__img {
		margin-top: 0;
		top: -1px;
		margin-bottom: 15px;
	}
	.credit-item {
		padding-bottom: 35px;
		border-radius: 20px;
		margin-bottom: 50px;
		box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
		border-top-left-radius: 0;
	}
	.credit-documents {
		flex-direction: column;
	}
	.credit-advangaes {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 60px;
	}
	.credit-advangaes span:not(:last-child) {
		margin: 0;
		margin-bottom: 10px;
	}
	.credit .mobile-visible {
		margin-bottom: 40px;
	}
	.credit-documents span:not(:last-child) {
		margin: 0;
		margin-bottom: 10px;
	}
	.credit-links a {
		font-size: 12px;
		font-weight: 600;
	}
	.credit-block__bottom {
		margin-top: 30px;
		display: block;
	}
	.credit-social {
		margin-bottom: 20px;
		justify-content: center;
	}
	.credit-bottom__advantages span:last-child {
		margin-right: 0;
	}
	.credit-block .btn-main {
		width: 100%;
		margin: 0;
		max-width: 100%;
	}
	.credit-item:not(:last-child) {
		margin-bottom: 50px;
	}
	.sidebar-block {
		padding: 30px 20px;
		box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
	}
	.sidebar-block__content {
		padding-bottom: 30px;
		display: none;
	}
	.sidebar-title {
		padding-bottom: 0;
		border: none;
	}
	.question__name {
		padding-right: 20px;
	}
	.question.active .question__name .question__btn:before {
		width: 9px;
		height: 2px;
	}
	.question__btn:before {
		width: 9px;
		height: 2px;
	}
	.question__btn:after {
		height: 8px;
		width: 2px;
	}
	.rating .title-section {
		padding-bottom: 30px;
	}
	.rating-table th {
		padding-top: 25px;
	}
	.table-wrap {
		overflow: auto;
		margin-right: -15px;
		box-shadow: 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198);
	}
	.rating-table {
		width: 660px;
		box-shadow: none;
	}
	.calculator-descr {
		padding: 0;
		background-image: none;
	}
	.calculator-block {
		padding: 25px 20px;
	}
	.calculator-item .irs--flat .irs-grid-text {
		font-size: 10px;
	}
	.calculator-item .irs-single {
		margin-top: -15px !important;
		font-size: 12px !important;
	}
	.calculator-item .irs-single:before {
		top: 19px !important;
	}
	.calculator-descr__block {
		width: 140px;
		height: 140px;
		padding: 0;
		padding-left: 16px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		background: radial-gradient(137.36% 230.68% at -4.81% -13.74%, #33A6FF 15.1%, #36C27F 90.73%), #FFFFFF;
		border-radius: 50%;
		position: absolute;
		top: 20px;
		left: auto;
		right: 0;
		bottom: 0;
	}
	.calculator-descr__title {
		font-size: 13px;
	}
	.calculator-descr__block span {
    font-size: 17px;
}
.calculator-subtitle {
    font-size: 14px;
    margin-bottom: 25px;
}
.calculator-descr__price {
    font-size: 18px;
}
.calculator-descr {
	padding-right: 132px;
	margin-top: 48px;
}
.calculator-item .irs--flat .irs-min,
.calculator-item .irs--flat .irs-max {
	margin-top: 0;
}
.calculator-item .irs--flat .irs-min {
	display: block;
}
.calculator-range__slider:not(:last-child) {
	margin-bottom: 22px;
}
.calculator-block {
	margin-top: 50px;
}
.title-mobile {
	font-size: 18px;
line-height: 23px;
font-weight: 600;
font-family: "Montserrat";
color: #2B3B47;
}
.calculator-block .title-mobile {
	margin-bottom: 30px;
}
.map .title-section {
	margin-bottom: 0;
}
.map-city li a {
	white-space: nowrap;
}
.map-block-wrap {
	overflow: auto;
}
.map-block {
	width: 900px;
}
.map-city {
	padding-left: 40px;
	padding-bottom: 20px;
}
.tabs {
	padding: 20px;
}
.steps-title {
	font-size: 18px;
	line-height: 23px;
}
.steps-descr {
	margin-bottom: 20px;
}
.tabs-names {
	white-space: nowrap;
	overflow: auto;
}
.tabs-names li {
	margin-right: 0;
	padding-right: 25px;
}
.tabs-choice {
	display: block;
}
.tabs-choice__item:not(:last-child) {
	margin-right: 0 !important;
}
.tabs-choice__item {
	margin-bottom: 20px;
}
.tabs-choice__item label {
	padding: 20px 16px;
	font-size: 16px;
	width: 100%;
	display: flex;
	flex-direction: row;
	max-width: 100%;
	height: initial;
}
.tabs-choice__circle {
	margin: 0;
	position: relative;
	top: -2px;
	margin-right: 20px;
	flex: none;
}
.tabs .btn-main {
	margin-top: 20px;
	max-width: 100%;
}
.reviews-item__top {
	display: block;
	position: relative;
}
.reviews-item__date {
	position: absolute;
	bottom: -70px;
	left: 0;
}
.reviews-item {
	padding: 24px 20px;
	margin-bottom: 30px;
}
.reviews-name {
	margin-bottom: 40px;
}
.main-form {
	margin-top: 0;
}
.form-block__title {
	font-size: 18px;
	line-height: 23px;
}
.items-form {
	display: block;
}
.form-block {
	padding: 24px 20px;
}
.item-form {
	margin: 0;
	width: 100%;
	margin-bottom: 30px;
}
.rating-title {
	font-size: 14px;
}
.form-review textarea {
	padding-top: 15px;
	margin: 0;
}
.checkbox-wrap {
	display: block;
}
.checkbox-wrap .btn_color {
	max-width: 100%;
	margin: 0;
	margin-top: 30px;
	width: 100%;
}
.graph-item {
	padding-right: 0;
}
.slider-graph {
	padding-bottom: 60px;
}
.graph-img img {
	margin: 0 auto;
}
.graph-suptext {
	margin-bottom: 12px;
}
.graph-block {
	padding-top: 35px;
	padding-bottom: 45px;
}
.tabs-item__buttons {
	flex-direction: column-reverse;
}
.tabs-item__buttons .btn-main {
	margin-right: 0;
}
.buttons-fixed {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 700;
	background-color: #fff;
	display: flex;
	box-shadow: 0px 5px 30px rgba(158, 158, 158, 0.15);
}
.btn-mobile {
	height: 50px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.loans-img {
	display: none;
}
.loans_give .loans-item {
	margin: 0;
	margin-top: 20px;
}
.loans_give .btn-main {
	margin: 0 auto;
	margin-top: 20px;
}
.mobile-visible .sorting-item,
.loans_give .sorting-item {
	text-align: center;
	padding: 0;
	display: block;
	background-color: transparent;
}
.sorting-item__show,
.sorting-item__social {
	justify-content: center;
}
.sorting-item__social {
	margin-bottom: 20px;
}
.loans_give .sorting-text {
	display: none;
}
.loans_give .sorting {
	margin-top: 19px;
}
.steps-credit .tabs {
	padding: 25px 19px;
	background:none;
	min-height: initial;
}
.steps-credit .tabs li:not(:last-child) {
	margin-right: 0px;
	padding-right: 25px;
}
.steps-credit .calculator-range__slider .irs--flat .irs-grid-text {
	font-size: 10px;
}
.item-form__sale {
	display: none;
}
.steps-block .row .col-lg-7 {
	padding-right: 15px;
}
.steps-credit input {
	margin-bottom: 0;
}
.steps .item-form {
	margin-bottom: 20px;
}
.tabs-bottom {
	display: block;
}
.steps-credit .btn-main {
width: initial;
}
.steps-credit .checkbox {
	font-size: 12px;
}
.steps-credit .checkbox-wrap {
	margin-top: 0;
}
.steps-block .row .col-lg-5 {
	padding-left: 15px;
	padding-right: 15px;
}
.steps-right {
	padding: 30px 20px;
	padding-bottom: 0;
    border-radius: 0px 0px 20px 20px;
    }
    .steps-right__img {
    	position: relative;
    	top: 0;
    	left: 0;
    	margin-bottom: -70px;
    }
    .steps-right__img img {
    	max-width: 100%;
    }
    .steps-right__item:last-child {
    	margin-bottom: 0;
    }
    .steps-credit .rating-area {
    	margin-bottom: 30px;
    }
    .steps-credit .btn-main {
    	width: 100%;
    	margin-top: 30px;
    }
    .form-block__title {
    	margin-bottom: 25px;
    }
    .steps-credit .main-form {
    	margin-top: 100px;
    }
    .offer-bottom {
    	padding-left: 20px;
    	padding-right: 20px;
    }
    .credit-reviwes {
    	padding-bottom: 0;
    	position: relative;
    	z-index: 10;
    	margin-bottom: -30px;
    }
    .steps-credit .tabs-item__buttons {
    	flex-direction: row;
    	justify-content: space-between;
    }
    .steps-credit .tabs-item__buttons .btn-main {
    	padding-left: 20px;
    	padding-right: 20px;
    }
.steps-credit .calculator-range__slider .irs--flat .irs-handle {
	width: 23px;
	height: 23px;
}
.help .title-section {
	font-size: 30px;
	text-align: center;
}
.help-btns {
	display: block;
}
.help-btns .btn-main {
	margin: 0 auto;
	width: 300px;
	max-width: 100%;
	margin-bottom: 20px;
}
.col-help-img {
	order: -1;
}
.help-img img {
	max-width: 60%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.help-block {
	margin: 0 -15px;
	padding-top: 80px;
	padding-bottom: 28px;
	margin-top: 140px;
	margin-bottom: 50px;
	display: block;
	text-align: center;
	background: #288FE6;
}
.help-block__img {
	top: -129px;
	left: 0;
	right: 0;
	width: 190px;
	height: 190px;
	margin: 0 auto;
}
.help-block__item {
	padding: 0;
	margin-bottom: 25px;
	height: initial;
}
.help-button {
	width: 300px;
	height: 70px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 16px;
	margin: 0 auto;
	border-radius: 10px;
}
.help-button:hover {
	background-color: #21b06c;
}
.mobile-visible .sorting {
	display: block;
}
.mobile-visible .sorting .sorting-item__show {
	margin-bottom: 20px;
}
.help-slider__item {
	display: block !important;
}
.help-slider__block {
	margin: 0;
	margin-bottom: 20px;
	padding-bottom: 0;
}
.help-slider__title {
	padding: 0 20px;
}
.help-slider__body {
	padding: 20px;
}
.help-slider .slick-dots {
bottom: -15px;
}
.help-slider {
	margin-bottom: 60px;
}
.help-sorting {
	display: block;
}
.help-sorting .jqselect {
	margin-bottom: 10px;
}
.help-sorting {
	margin-bottom: 35px;
}
.dreams__items {
	display: block;
}
.dreams__img {
	height: 330px;
	width: 100%;
}
.dreams__img img {
	border-radius: 20px 20px 0px 0px;
}
.dreams-item__top {
	display: block;
}
.dreams-item__icon {
	margin-bottom: 20px;
}
.dreams-item__icon:last-child {
	margin-bottom: 0;
}
.dreams-item__title {
	margin-bottom: 20px;
}
.dreams-social {
	justify-content: center;
}
.dreams__block {
	padding-bottom: 30px;
}
.row_team {
	margin-bottom: 30px;
	margin-left: 0;
	flex-wrap: nowrap;
	overflow: auto;
}
.row_team .offer-item a {
    box-shadow: 0px 15px 10px rgb(0 0 0 / 5%);
}
.row_team > div {
	min-width: 80vw;
}
.row_team::-webkit-scrollbar {
    -webkit-appearance: none;
}
.row_team::-webkit-scrollbar:vertical {
    width: 10px;
}
.row_team::-webkit-scrollbar:horizontal {
    height: 10px;
}
.row_team::-webkit-scrollbar-thumb {
background: radial-gradient(137.36% 230.68% at -4.81% -13.74%, #33A6FF 15.1%, #36C27F 90.73%), #FFFFFF;
    border-radius: 20px;
}
.row_team::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #EEF2F4;
}
.title-section.table-title {
	text-align: left;
	padding-bottom: 15px;
}
.table-wrap {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
.help-advantages .title-section {
	text-align: left;
}
.help-advantages .row > div {
	margin-bottom: 10px;
}
.help-advantages__item {
	padding: 30px;
}
.utility .head-section {
	padding-top: 30px;
	display: block;
}
.utility .item-news:last-child {
	margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #EEF2F4;
}
.often {
	margin-top: 20px;
}
.often .form__block {
margin-top: 30px;
}
.help {
	padding-bottom: 0;
	position: relative;
	z-index: 10;
}
.often .question__name {
	font-size: 12px;
	line-height: 15px;
}
.help .rating-table table {
	width: 735px;
}
.help .rating-table td:last-child,
.help .rating-table th:last-child {
	padding-left: 20px;
	padding-right: 20px;
}
.header-bottom .create-user {
	padding: 0 22px;
	font-size: 12px;
}
.header-bottom .create-user span img {
    width: 18px;
    margin-right: 9px;
}
.menu_haschild > a::after {
	display: none;
}
.overview .title-big {
	text-align: center;
	margin-bottom: 20px;
}
.overview .loans-item {
	margin-bottom: 50px;
}
.block_overview {
	padding: 25px 20px;
}
.selection .row .col-lg-7 {
	padding-right: 15px;
}
.selection .form-block__title {
margin-bottom: 15px;
}
.block_overview .select-sorting {
	margin-bottom: 20px;
}
.overview-img {
	top: 40px;
	margin-top: -20px;
	position: relative;
	bottom: 0;
}
.overview-img img {
	max-width: 90%;
	margin: 0 auto;
}
.selection-item {
	padding: 25px 35px;
	padding-bottom: 0;
	height: initial;
	background: no-repeat;
}
.right-selection {
	display: block;
	background: radial-gradient(137.36% 230.68% at -4.81% -13.74%, #33A6FF 15.1%, #36C27F 90.73%), #FFFFFF;
border-radius: 0px 0px 20px 20px;
}
.selection .row .col-lg-5 {
	padding-left: 15px;
	padding-right: 15px;
}
.block_overview .btn-main {
	width: 300px;
	max-width: 300px;
	margin: 0 auto;
}
.block_overview .btn-main span {
	margin-right: 20px;
}
.fund-block {
	padding: 25px 20px;
	margin-bottom: 20px;
}
.fund-top {
	display: block;
}
.fund-top span {
	margin-left: 0;
	display: block;
}
.fund-items {
	display: block;
}
.fund-item__icon {
	width: 20px;
	flex: none;
}
.fund-item {
	margin: 0;
	margin-bottom: 20px;
}
.fund-top__img {
	margin-bottom: 20px;
}
.fund-item:not(:last-child) {
	margin-right: 0;
}
.fund-item:last-child {
	margin-bottom: 0;
}
.short-article__item {
	padding: 0 20px;
}
.short-article__img {
	margin-bottom: 20px;
}
.short-article__item blockquote {
	padding: 5px 0;
	padding-left: 20px;
}
.section-table .title-section.table-title {
	font-size: 28px;
}
.rating-table th,
.rating-table td {
	padding-top: 15px;
	padding-bottom: 15px;
}
.catalog-funds {
	padding-bottom: 0;
	position: relative;
	z-index: 11;
}
.catalog-funds .dreams__block:last-child {
	margin-bottom: 0;
}
.title-page {
	text-align: center;
}
.dreams__img img {
	height: 340px;
}
.dreams__item {
	padding-left: 20px;
	padding-right: 20px;
}
.card .dreams__item {
	padding-bottom: 0;
}
.form-section {
	padding-bottom: 0;
	position: relative;
	z-index: 10;
}
.title-section_left {
	text-align: left !important;
}
.dreams__item .btn-main,
.dreams__item .dreams__btn {
	margin-left: auto;
	margin-right: auto;
}
.dreams__item {
	max-width: 100%;
}
.often .question .question__btn {
	margin-left: 10px;
}
.online-loans__right {
	order: -1;
}
.online-loans__img img {
	max-width: 50%;
	margin: 0 auto;
}
.online-loans__img {
	margin: 0;
	margin-bottom: 20px;
}
.online-loans .title-section {
	text-align: center;
	font-size: 30px;
}
.online-loans .title-section span {
	display: inline;
}
.online-loans .loans-item {
	margin: 20px 0;
	width: 100%;
	max-width: 100%;
}
.online-loans p {
	margin-top: 0;
}
.online-sidebar {
	max-width: 100%;
	width: 100%;
	padding-top: 20px;
	margin-top: 20px;
}
.online-block .sidebar-title {
    font-size: 18px;
    max-width: 245px;
}
.online-block {
	margin: 20px 0;
	padding: 20px;
}
.popular_title {
	font-size: 24px !important;
	line-height: 28px !important;
	padding-bottom: 25px;
	padding-top: 25px;
	text-align: center;
}
.popular-table {
	border-right: none;
}
.popular-card.card_gradient {
	display: none;
}
.slider-cards  {
	padding-bottom: 40px;
	margin-bottom: 20px;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.popular-loans__top {
	display: block;
}
.popular-loans__left {
	display: block;
	margin-bottom: 10px;
}
.popular-loans__left span {
	margin-right: 3px;
}
.popular-loans__table {
	width: 750px;
	border-bottom-left-radius: 0;
}
.popular-loans__table th {
    padding: 14px 0px;
    }
    .popular-loans__table td {
    	height: initial;
    }
    .popular-loans__table td:first-child {
    	padding: 0 10px;
    }
    .popular-reviews__top {
    	display: block;
    	margin-bottom: 15px;
    }
    .popular-reviews__title {
    	font-size: 18px;
    	line-height: 23px;
    	margin-bottom: 15px;
    }
    .popular-reviews {
    	padding: 0;
    	border: none;
    }
    .popular .table-wrap {
    	border-bottom-left-radius: 0;
    }
    .row_popular-reviews {
    	padding-bottom: 20px;
    	border: 1px solid #EEF2F4;
    	border-top-right-radius: 20px;
    	border-top-left-radius: 20px;
    	margin: 0;
    }
    .address-block .title-section {
    	font-size: 18px;
    	line-height: 23px;
    	text-align: left;
    	font-weight: 600;
    }
    .popular-reviews__rating {
    	border: none;
    }
    .address-block {
    	padding: 0;
    	border: none;
    }
    .table-wrap .city-table {
    	width: 810px;
    }
    .city-table td,
    .city-table th {
    	padding: 15px 10px;
    }
    .popular-block__form {
    	padding: 0;
    	border: none;
    }
    .popular-table .table-wrap {
    	box-shadow: none;
    }
    .popular-block__form .item-form textarea {
    	height: 120px;
    }
    .form-btn .btn-main {
    	height: 70px;
    	max-width: 100%;
    	width: 100%;
    }
    .form-btn {
    	margin-top: 0;
    }
    .consumers {
    	border: none;
    	padding: 0;
    	margin-top: 35px;
    	background-color: transparent;
    	box-shadow: none;
    }
    .popular .title-section {
    	font-size: 18px;
    	line-height: 23px;
    }
    .consumers-right {
    	display: none;
    }
    .consumers .popular-revies__date {
    	margin-top: 8px;
    	font-weight: normal;
    }
    .consumers__img img {
    	margin: 0 auto;
    }
    .consumers-wrap {
    	padding: 10px 15px;
    	padding-bottom: 25px;
    }
    .consumers-block {
    	margin: 0;
    }
    .consumers-text {
    	flex: 1;
    }
    .line-consumer div,
    .line-consumer span {
    	flex: 1;
    }
    .consumer-lines {
    	margin-top: 15px;
    }
    .consumers-ratting__value {
    	font-size: 32px;
line-height: 38px;
font-weight: 700;
font-family: "Montserrat";
  background: radial-gradient(
    137.36% 230.68% at -4.81% -13.74%,
    #33a6ff 15.1%,
    #36c27f 90.73%
  ),
  #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    }
    .consumers__main {
    	display: flex;
    	justify-content: space-between;
    }
    .consumers-ratting {
    	margin: 0 auto;
    }
    .consumers-wrap .btn-main  {
    	margin: 0 auto;
    }
    .consumers-slider {
    	padding-bottom: 40px;
    }
    .consumers-wrap {
    	margin: 0;
    }
    .advice,
    .best,
    .popular-questions,
    .main-form__block {
    	padding: 0;
    	border: none;
    	background-color: transparent;
    	box-shadow: none;
    }
    .more-questions .form-block__title {
    	font-size: 18px;
    	font-weight: 600;
    }
    .more-questions .item-form textarea {
    	height: 120px;
    }
    .popular-questions .title-section {
    	font-weight: 600;
    	margin-bottom: 15px;
    }
    .popular-questions__top {
    	padding: 12px 10px;
    }
    .popular-questions__top-item span:last-child span {
    	display: none;
    }
        .popular-questions__top-item span:last-child b {
    	display: inline-block;
    	font-weight: 400;
    }
    .question-wrap {
    	padding: 0 15px;
    }
    .question-wrap .questions_bottom {
    	margin-top: 20px;
    }
    .popular-questions .question__answer {
    	padding-bottom: 10px;
    }
    .best__top {
    	margin-right: -15px;
    	flex-wrap: nowrap;
    	overflow: auto;
    }
    .best .title-section {
    	font-weight: 600;
    	margin-bottom: 16px;
    }
    .best__body {
    	display: block;
    }
    .best-body__name {
    	position: relative;
    left: 64px;
    top: -38px;
    padding-right: 40px;
    	margin: 0;
    	margin-bottom: -10px;
    }
    .slider-advice {
    	padding-bottom: 35px;
    }
    .advice-item {
    	padding: 35px;
    	border: 1px solid #EEF2F4;
border-radius: 20px;
    }
    .offer .offer-item {
    	margin-bottom: 20px;
    }
    .popular {
    	padding-bottom: 0;
    	position: relative;
    	margin-bottom: 0;
    	z-index: 10;
    }
    .consumers .popular-reviews__rating {
    	display: block;
    }
    .popular-reviews__bottom {
    	padding-top: 15px;
    	margin-bottom: 10px;
    }
    .credit7__img {
    	height: 164px;
    	margin-bottom: 20px;
    }
    .credit7__info .title-section {
    	font-size: 40px;
    	text-align: center;
    }
    .credit7 .loans-item {
    	max-width: 100%;
    }
    .slider-four {
    	padding-bottom: 30px;
    }
    .credit7-item {
    	padding-left: 20px;
    	padding-right: 20px;
    }
.our-products .title-section {
	font-size: 18px;
	line-height: 23px;
	font-weight: 600;
}
.our-products .rating-table {
	width: 780px;
}
.credit7-reviews__top {
	display: block;
}
.credit7-reviews .credit7-reviews__top .btn-main {
	margin-top: 15px;
}
.credit7-reviews__block {
	padding: 25px 15px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.credit7-reviews .popular-reviews__rating {
	padding-top: 0;
}
.credit7-reviews .popular-reviews__subtitle {
	margin-bottom: 10px;
}
.credit7 .utility {
	margin-top: 0;
}
.utility .head-section .link-page {
	margin-top: 10px;
}
.credit7 {
	padding-bottom: 0;
	margin-top: 15px;
}
.credit7 .utility .head-section {
	padding-top: 10px;
}
.suptitle-section {
	margin-bottom: 7px;
	text-align: center;
}
.compare__right .title-section {
	text-align: center;
}
.compare .loans-item {
	max-width: 100%;
	padding-right: 20px;
}
.compare-microloans__top {
	display: block;
}
.compare-microloans__top .popular-revies__date {
	margin-top: 10px;
}
.compare .popular-loans__table {
	width: 900px;
}
.compare .popular-loans__table td:nth-child(5) p,
.compare .popular-loans__table td:nth-child(4) p {
	font-size: 12px;
	line-height: 17px;
}
.compare .popular-loans__table td {
	padding-top: 15px;
}
.reviews-slider__item {
	display: block !important;
}
.reviews-bank__block {
	padding: 10px 15px;
}
.reviews-slider .credit7-reviews__top {
	display: flex;
}
.compare .credit7-reviews__block {
	margin: 0;
}
.reviews-slider .popular-reviews__subtitle {
	margin-bottom: 10px;
}
.reviews-slider p {
	color: #8BA1B1;
}
.reviews-slider .reviews-link {
	margin-bottom: 0 !important;
}
.head-page {
	margin-bottom: 20px;
	display: block;
}
.head-page .btn-main {
	margin-top: 10px;
}
.compare-rating {
	padding-top: 70px;
}
.compare-rating__top {
	margin-bottom: 10px;
	display: block;
	text-align: center;
}
.compare-rating__img {
	margin: 0 auto;
}
.compare-rating__winner {
	margin: 0 auto;
}
.compare-rating__item {
	padding: 20px 15px;
	margin-bottom: 20px;
}
.compare .form-block {
	padding: 20px 15px;
}
.compare .checkbox-wrap .btn_color {
	margin-top: 10px;
}
.compare .checkbox-wrap {
	margin-top: 10px;
}
.compare .main-form {
	margin-bottom: 0;
}
.compare {
	position: relative;
	z-index: 10;
}
.compare .loans-item {
	margin-top: 20px;
}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.row_articles > div {
		max-width: 42%;
	}
	.row_articles > div:last-child {
		max-width: 49%;
	}
	.buttons-fixed,
	.link-page_sidebar,
	.mobile-visible {
		display: none !important;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1200px;
	}
}